<footer class="pinkish-grey">
  <div class="">
      <div class="footer-info">
          <div class="container">
              <div class="col-md-5 col-xs-12 burger-info socical-ft">
                  <div class="clearfix">
                      <img class="pull-left" src="./assets/img/logo-burger-footer.png" alt="Burger Sprints" />
                      <ul class="list-inline list-social-footer">
                          <li class="bg-black"><a href="#"><i class="ion-social-youtube"></i></a></li>
                          <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                          <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                      </ul>
                  </div>
                  <div class="client-pay clearfix">
                      <img class="img-responsive" src="./assets/img/payment.png" alt="Burger Sprints" />
                  </div>
              </div>
              <div class="col-md-7 col-xs-12 pull-right">
                  <div class="col-md-4 col-xs-4 burger-info">
                      <ul class="list-unstyled">
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.SHOP' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.OPEN_A_SHOP' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.HOW_IT_WORKS' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.GETTINGS_STARTED' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.NEW_CLOTH_ACADENY' | translate }}</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4 col-xs-4 burger-info">
                      <ul class="list-unstyled">
                          <li><a href="/track" class="pinkish-grey">{{ 'FOOTER.TRACK_ORDER' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.HELP_CENTER' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.FAQ' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.RETURNS' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.CONTACT_US' | translate }}</a></li>
                      </ul>
                  </div>
                  <div class="col-md-4 col-xs-4 burger-info">
                      <ul class="list-unstyled">
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.ABOUT_US' | translate }}</a></li>
                          <li><a href="http://{{AppService.svConfig['system.ecomerce.domain.name']}}/privacy" class="pinkish-grey">{{'FOOTER.PRIVACY' | translate}}</a></li>
                          <li><a href="http://{{AppService.svConfig['system.ecomerce.domain.name']}}/terms" class="pinkish-grey">{{ 'FOOTER.TERMS' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.CARRERS' | translate }}</a></li>
                          <li><a href="#" class="pinkish-grey">{{ 'FOOTER.PARTNERS' | translate }}</a></li>
                      </ul>
                  </div>
              </div>

          </div>
          </div>
      <div class="footer-copyright text-center">
          <div class="container">
              <p>© 2017 BurgerPrint, Inc.</p>
          </div>
      </div>
  </div>
</footer>
