<footer>
    <div class="col-footer">
        <div class="container">
            <div class="col-md-3 col-xs-12 col-item-foooter marketplace">
                <h3>{{ 'FOOTER.MARKETPLACE' | translate }}</h3>
                <ul>
                    <li><a href="#">{{ 'FOOTER.SHOP' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.OPEN_A_SHOP' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.HOW_IT_WORKS' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.GETTINGS_STARTED' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.NEW_CLOTH_ACADENY' | translate }}</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-item-foooter col-help">
                <h3>{{ 'FOOTER.HELP' | translate }}</h3>
                <ul>
                    <li><a href="#">{{ 'FOOTER.TRACK_ORDER' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.HELP_CENTER' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.FAQ' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.RETURNS' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.CONTACT_US' | translate }}</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-item-foooter col-company">
                <h3>{{ 'FOOTER.COMPANY' | translate }}</h3>
                <ul>
                    <li><a href="#">{{ 'FOOTER.ABOUT_US' | translate }}</a></li>
                    <li><a href="http://{{AppService.svConfig['system.ecomerce.domain.name']}}/privacy">{{
                        'FOOTER.PRIVACY' | translate}}</a></li>
                    <li><a href="http://{{AppService.svConfig['system.ecomerce.domain.name']}}/terms">{{ 'FOOTER.TERMS' | translate }}</a>
                    </li>
                    <li><a href="#">{{ 'FOOTER.CARRERS' | translate }}</a></li>
                    <li><a href="#">{{ 'FOOTER.PARTNERS' | translate }}</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-item-foooter col-follow">
                <h3>{{ 'FOOTER.FOLLOW_US' | translate }}</h3>
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook-square  fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
                </ul>
                <div class="clearfix"></div>
                <!--<div class="change-lang-money">
                    <div class="form-group pull-left change-lang">
                        <div id="select-lang" data-input-name="country3" data-selected-country="VN"
                             data-scrollable="true" data-scrollable-height="250px" class="flagstrap">

                            <select id="flagstrap-PG3dFRO4" name="country3" style="display: none;">
                                <option value="VN" selected="selected">Việt Nam</option>
                                <option value="AU">Australia</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                            </select>
                            <button type="button" data-toggle="dropdown" id="flagstrap-drop-down-PG3dFRO4"
                                    class="btn btn-default btn-md dropdown-toggle"><span
                                    class="flagstrap-selected-PG3dFRO4"><i class="flagstrap-icon flagstrap-vn"
                                                                           style="margin-right: 10px;"></i>Việt Nam</span><span
                                    class="caret" style="margin-left: 10px;"></span></button>
                            <ul id="flagstrap-drop-down-PG3dFRO4-list"
                                aria-labelled-by="flagstrap-drop-down-PG3dFRO4" class="dropdown-menu"
                                style="height: auto; max-height: 250px; overflow-x: hidden;">
                                <li><a data-val="VN"><i class="flagstrap-icon flagstrap-vn"
                                                        style="margin-right: 10px;"></i>Việt Nam</a></li>
                                <li><a data-val="AU"><i class="flagstrap-icon flagstrap-au"
                                                        style="margin-right: 10px;"></i>Australia</a></li>
                                <li><a data-val="GB"><i class="flagstrap-icon flagstrap-gb"
                                                        style="margin-right: 10px;"></i>United Kingdom</a></li>
                                <li><a data-val="US"><i class="flagstrap-icon flagstrap-us"
                                                        style="margin-right: 10px;"></i>United States</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group pull-right change-money">
                        <select class="form-control" id="sel1">
                            <option>VND</option>
                            <option>USD</option>
                            <option>SGD</option>
                        </select>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="copyright text-center">
        <div class="container">
            <p>© 2017 BurgerPrint, Inc.</p>
        </div>
    </div>
</footer>