<div class="mnu-top">
  <div class="container">
    <a class="logo" href="/">
      <img class="pull-left" src="./assets/img/logo-burger.png" alt="">
    </a>
    <ul class="menu list-inline">
      <li *ngIf="PublicService.http.profile" style="cursor: pointer;">
        <a class="menu-label" (click)="AppService.addCampaign()">{{ 'HEADER.START_DESIGNING' | translate }}
        </a></li>
      <li *ngIf="PublicService.http.profile" class="dropdown">
        <a href="#" class="dropdown-toggle menu-label" data-toggle="dropdown" role="button"
           aria-expanded="false">
          {{PublicService.http.profile}} <span class="fa fa-angle-down"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-profile" role="menu">
          <li>
            <a routerLinkActive="active" routerLink="campaigns" href="javascript: void(0)">
              <i class="fa fa-server" aria-hidden="true"></i> {{ 'COMMON.CAMPAIGNS' | translate }}
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="storefronts" href="javascript: void(0)">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i> {{ 'COMMON.STOREFRONTS' | translate }}
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="promotions" href="javascript: void(0)">
              <i class="fa fa-tags" aria-hidden="true"></i> {{ 'COMMON.PROMOTIONS' | translate }}
            </a>
          </li>
          <li>
            <a (click)="logout()" href="javascript: void(0)">
              <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'COMMON.SIGN_OUT' | translate }}
            </a>
          </li>
        </ul>
      </li>
      <!--<li *ngIf="!PublicService.http.profile">
          <a routerLinkActive="active" routerLink="auth/register" href="javascript: void(0)">{{
              'AUTH.REGISTER' | translate }}</a>
      </li>
      <li routerLinkActive="active" routerLink="auth/login" *ngIf="!PublicService.http.profile">
          <a href="javascript: void(0)">{{ 'AUTH.SIGN_IN' | translate }}</a>
      </li>-->
      <li>&nbsp;</li>
    </ul>
  </div>
</div>
