.mini-submenu {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9px;
    width: 42px;
    margin-bottom: 15px;
}

.mini-submenu:hover {
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #000;
}
