.btn-launch {
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
}

.change-product-button {
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    border: 2px solid #eef1f7;
    background-color: #fff;
    color: #6f6e72;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    line-height: 50px;
}

.change-product-button:hover {
    border: 2px solid #F7BA6B;
    color: #ffc80a;
}
