<div class="row">
    <div class="col-sm-12">
        <div class="form-group" style="margin-top: 10px;">
            <label>Product</label>
            <span data-toggle="dropdown" class="form-control">{{product.base.name}}<i
                    style="margin-top: 4px;"
                    class="fa fa-caret-down pull-right"
                    aria-hidden="true"></i></span>
            <ul class="dropdown-menu dropdown-promotions">
                <li *ngFor="let prod of CampaignsService.campaign.products"><a (click)="setProduct(prod)"
                                                                               href="javascript:void(0)">{{prod.base.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Variants</strong></div>
            <div class="panel-body">
                <div *ngFor="let variant of product.variants" class="col-sm-12 variants">
                    <div class="col-sm-3">
                        <img src="{{variant.image.front}}">
                    </div>
                    <div class="col-sm-3">
                        <img src="{{variant.image.back}}">
                    </div>
                    <div class="col-sm-3">
                        {{variant.name}}
                    </div>
                    <div class="col-sm-3">
                        {{variant.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>