/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
    padding-right: 15px;
    padding-left: 15px;
}

h4 {
    margin-top: 25px;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-promotions {
    width: calc(100% - 30px);;
    top: inherit;
    left: inherit;
}

.form-control {
    box-shadow: none;
}

.variants img {
    width: 100%;
}

.ctr-add {
    text-align: center;
    margin: 10px;
    border: 1px solid #ddd;
}

.ctr-add i {
    text-align: center;
    display: inline-block;
    font-size: 2em;
    margin-top: calc(50% - 10px);
}

.ctr-add div {
    display: block;
    height: 100%;
    width: 100%;
}

.ctr-add label {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.ctr-add div:hover {
    border: 1px solid #1b6d85;
    background-color: lavender;
}

.ctr-add i:hover {
    color: olive;
}

.action-del {
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 3px;
    font-size: 6px;
    cursor: pointer;
}

.variant-fl {
    color: olive;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 4px;
    font-size: 8px;
}

.margin {
    margin-left: 5px;
}