<div class="row">
    <div class="col-sm-12">
        <div class="form-group" style="margin-top: 10px;">
            <label>Product</label>
            <span data-toggle="dropdown" class="form-control">{{product.base.name}}<i
                    style="margin-top: 4px;"
                    class="fa fa-caret-down pull-right"
                    aria-hidden="true"></i></span>
            <ul class="dropdown-menu dropdown-promotions">
                <li *ngFor="let prod of CampaignsService.campaign.products"><a (click)="setProduct(prod)"
                                                                               href="javascript:void(0)">{{prod.base.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form #form="ngForm">
            <input [(ngModel)]="fMockup.file" #filePicker="ngModel" style="display: none;"
                   type="file" id="filePicker" name="filePicker"
                   class="form-control"
                   (change)="handleFileSelect($event)">
        </form>
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Variants</strong></div>
            <div class="panel-body">
                <div *ngFor="let variant of product.variants" class="row row-eq-height variants">
                    <div class="col-sm-3 ctr-add">
                        <img src="{{variant.image.front}}">
                    </div>
                    <div class="col-sm-3 ctr-add">
                        <img src="{{variant.image.back}}">
                    </div>
                    <div *ngFor="let mockup of variant.mockups" class="col-sm-3 ctr-add">
                        <img src="{{mockup.image.url}}">
                    </div>
                    <div class="col-sm-3 ctr-add">
                        <div>
                            <label (click)="selectVariant(variant)" for="filePicker"><i title="Add new"
                                                                                        class="fa fa-upload"
                                                                                        aria-hidden="true"></i></label>
                        </div>
                    </div>
                    <!--<div class="col-sm-3 ctr-add">
                        <div>
                            <label (click)="selectVariant(variant)" for="filePicker"><i title="Add new"
                                                                                        class="fa fa-upload"
                                                                                        aria-hidden="true"></i></label>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>