<div class="row">
  <div class="col-sm-12">
    <h3>Storefront Info
      <label class="pull-right action">
        <button *ngIf="StorefrontsService.storefront&&StorefrontsService.storefront.state!=='deleted'"
                (click)="setState('deleted')"
                class="btn btn-default btn-xs">
          Inactive
        </button>
        <button *ngIf="StorefrontsService.storefront&&StorefrontsService.storefront.state==='deleted'"
                (click)="setState('approved')"
                class="btn btn-default btn-xs">
          Active
        </button>
        <button (click)="goBack()" class="btn btn-default btn-xs">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
      </label>
    </h3>
    <form novalidate #form="ngForm">
      <div class="form-group" [ngClass]="(titleVali.touched && !titleVali.valid)? 'has-error': ''">
        <label for="title">Title<span class="label-red">*</span></label>
        <input [(ngModel)]="StorefrontsService.storefront.title"
               #titleVali="ngModel"
               name="title" id="title"
               [appDebounce]="800" (onDebounce)="suggestion()"
               [maxLength]="50"
               [appCountLeft]="50"
               pattern="^[\w\d _.-]+$" required
               class="form-control">
        <div [hidden]="titleVali.valid || titleVali.untouched">
                                            <span *ngIf="titleVali.errors && titleVali.errors.required"
                                                  class="help-block alert-warning">
                                                <i class="fa fa-exclamation-triangle"
                                                   aria-hidden="true"></i> required!!!
                                            </span>
          <span *ngIf="titleVali.errors && titleVali.errors.pattern" class="help-block alert-warning">
                                                <i class="fa fa-exclamation-triangle"
                                                   aria-hidden="true"></i> pattern!!!
                                            </span>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <quill-editor #editor [(ngModel)]="StorefrontsService.storefront.desc" [modules]="quillOption"
                      [maxLength]="2000"
                      [appCountLeft]="2000"
                      (onEditorCreated)="seDescription()" name="desc"
                      name="desc"
                      [placeholder]="'...'">
        </quill-editor>
      </div>
      <div class="form-group"
           [ngClass]="((!uri.available)||(uriVali.touched && !uriVali.valid))? 'has-error': ''">
        <label for="uri">URL<span class="label-red">*</span></label>
        <div class="input-group">
          <div class="multiselect input-group-addon">
            <ss-multiselect-dropdown [(ngModel)]="domainModel" name="domain"
                                     [options]="arrDomains"
                                     [texts]="myText"
                                     [settings]="myGSettings"
                                     [disabled]="StorefrontId"
                                     (ngModelChange)="setDomain()"></ss-multiselect-dropdown>
          </div>
          <input [(ngModel)]="StorefrontsService.storefront.url.uri" [appDebounce]="800"
                 (onDebounce)="checkSuggestion()"
                 type="text" #uriVali="ngModel"
                 [readonly]="StorefrontId"
                 class="form-control" name="uri" id="uri" required>
        </div>
        <div [hidden]="uri.available && (uriVali.valid || uriVali.untouched)">
                                <span *ngIf="uriVali.errors && uriVali.errors.required"
                                      class="help-block alert-warning"><i class="fa fa-exclamation-triangle"
                                                                          aria-hidden="true"></i>
                                    Please select a uri!</span>
          <span *ngIf="!uri.available"
                class="help-block alert-warning"><i class="fa fa-exclamation-triangle"
                                                    aria-hidden="true"></i>
                                    Uri duplicates!</span>
        </div>
      </div>
      <hr>
      <h4>Banner <i class="fa fa-question-circle-o" [tooltip]="myTooltip" aria-hidden="true"></i></h4>
      <tooltip-content #myTooltip [animation]="true" placement="left">
        <p style="margin: 0">Image must be a JPG or PNG file no larger than 5MB.</p>
        <p style="margin: 0">Recommended dimensions: 1080 pixels (width) by 360 pixels (height).</p>
      </tooltip-content>
      <div class="row">
        <div class="col-sm-6">
          <span>Displayed on the top of storefront page</span>
        </div>
        <div class="col-sm-6 text-right">
          <label class="upload-ctr" for="filePicker"><i title="Upload img" class="fa fa-upload"
                                                        aria-hidden="true"></i></label>
          <input [(ngModel)]="StorefrontsService.file" style="display: none;" #filePicker="ngModel"
                 (change)="handleFileSelect($event)"
                 type="file" id="filePicker" name="filePicker"
                 class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 banner">
          <span title="Delete" (click)="removeBanner()" class="action-del"><i class="fa fa-times-circle"
                                                                              aria-hidden="true"></i></span>
          <div #coverbg class="cover-bg"
               [ngStyle]="{ 'background-image': 'url(' + StorefrontsService.storefront.banner + ')'}"></div>
        </div>
      </div>
      <hr>
      <h4>Campaigns</h4>
      <div class="row">
        <div class="col-sm-6">
          <span>{{StorefrontsService.storefront.campaigns? StorefrontsService.storefront.campaigns.split(',').length: 0}} campaigns selected</span>
        </div>
        <div class="col-sm-6 text-right">
          <button type="button" (click)="changeCampaigns()" class="btn btn-default add-campaign">Add campaign
          </button>
        </div>
      </div>
      <hr>
      <h4>Visibility</h4>
      <div class="row">
        <div class="col-sm-6">
          <span>Public storefront will be searchable on the web</span>
        </div>
        <div class="col-sm-6 text-right">
          <div class="btn-group">
            <button type="button" (click)="setVisibility(false)"
                    class="btn {{!StorefrontsService.storefront.private? 'lightblue': 'btn-default'}}">Public
            </button>
            <button type="button" (click)="setVisibility(true)"
                    class="btn {{StorefrontsService.storefront.private? 'lightblue': 'btn-default'}}">Private
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="button" (click)="updateStorefront()"
                class="btn btn-launch {{form.form.valid? 'btn-primary lightblue': 'btn-default'}}"
                [disabled]="!form.form.valid">{{btnUpdateTitle}}
        </button>
      </div>
    </form>
  </div>
</div>
