<div class="row">
  <div class="col-sm-12">
    <form novalidate (ngSubmit)="searchCampaigns()" #form="ngForm">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
                        <span data-toggle="dropdown" class="form-control">{{stateName}}<i
                          style="margin-top: 4px;"
                          class="fa fa-caret-down pull-right"
                          aria-hidden="true"></i></span>
            <ul class="dropdown-menu dropdown-promotions">
              <li *ngFor='let state of states'><a
                (click)="selState(state)"
                href="javascript:void(0)">{{state.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
    <table class="table table-hover">
      <thead>
      <tr>
        <th style="width: 30%;">Storefronts
          <button (click)="addStorefront()" class="btn btn-xs btn-default">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </button>
        </th>
        <th>Url</th>
        <th style="width: 10%;">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let store of StorefrontsData.stores | paginate: {  itemsPerPage: StorefrontsService.search.page_size, currentPage: StorefrontsService.search.page, totalItems: StorefrontsData.total}">
        <td>
          {{store.title}}
        </td>
        <td>
          <a (click)="goView(store)"
             href="javascript:void(0);">{{genStoreDetailUrl(store.url)}}</a>
        </td>
        <td>
          <button (click)="goDetail(store)" class="btn btn-xs btn-default">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
