<div id="app" style="height:100%">
  <div id="wrapper" style="height:100%">
    <app-layouts-header></app-layouts-header>
    <div class="container" style="min-height: calc(100% - 428px);">
      <div class="row">
        <app-layouts-sidebar *ngIf="PublicService.http.profile"></app-layouts-sidebar>
        <div
          [ngClass]="PublicService.http.profile&&PublicService.showsidebar? 'col-sm-8 col-md-9': 'col-sm-12 col-md-12'">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-layouts-footer></app-layouts-footer>
  </div>
</div>
