<div class="row">
    <div class="col-sm-12">
        <form novalidate #form="ngForm">
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 10%;">Campaign</th>
                    <th style="width: 40%;"></th>
                    <th>##</th>
                    <th>##</th>
                    <th>##</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let camp of CampaignData.campaigns">
                    <td>
                        <div appCampaign [campaign]="camp"></div>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>