<div class="row">
    <div class="col-sm-12">
        <div class="tab-panel">
            <ul class="nav nav-tabs">
                <li class="{{tab==='detail'? 'active': ''}}"><a (click)="selectTab('detail')">Detail</a></li>
                <li class="{{tab==='product'? 'active': ''}}"><a (click)="selectTab('product')">Products</a></li>
                <li class="{{tab==='mockups'? 'active': ''}}"><a (click)="selectTab('mockups')">Mockups</a></li>
            </ul>

            <div class="tab-content">
                <div *ngIf="CampaignsService.campaign&&tab==='detail'" id="detail"
                     class="tab-pane fade {{tab==='detail'? 'in active': ''}}">
                    <app-campaign-detail-edit></app-campaign-detail-edit>
                </div>
                <div *ngIf="CampaignsService.campaign&&tab==='product'" id="product"
                     class="tab-pane fade {{tab==='product'? 'in active': ''}}">
                    <app-campaign-detail-products></app-campaign-detail-products>
                </div>
                <div *ngIf="CampaignsService.campaign&&tab==='mockups'" id="mockups"
                     class="tab-pane fade {{tab==='mockups'? 'in active': ''}}">
                    <app-campaign-detail-mockups></app-campaign-detail-mockups>
                </div>
            </div>
        </div>
    </div>
</div>