<div class="row">
    <div class="col-sm-12">
        <div class="tab-panel">
            <ul class="nav nav-tabs">
                <li class="{{tab==='detail'? 'active': ''}}"><a (click)="selectTab('detail')">Detail</a></li>
                <li class="{{tab==='product'? 'active': ''}}"><a (click)="selectTab('product')">Products</a></li>
                <li class="{{tab==='analytics'? 'active': ''}}"><a (click)="selectTab('analytics')">Analytics</a></li>
                <li class="{{tab==='email'? 'active': ''}}"><a (click)="selectTab('email')">Email list</a></li>
                <li class="{{tab==='coupons'? 'active': ''}}"><a (click)="selectTab('coupons')">Coupons</a></li>
            </ul>

            <div class="tab-content">
                <div *ngIf="CampaignData&&tab==='detail'" id="detail"
                     class="tab-pane fade {{tab==='detail'? 'in active': ''}}">
                    <app-campaign-detail-edit [campaign]="CampaignData"></app-campaign-detail-edit>
                </div>
                <div *ngIf="CampaignData&&tab==='product'" id="product"
                     class="tab-pane fade {{tab==='product'? 'in active': ''}}">
                    <app-campaign-detail-products [campaign]="CampaignData"></app-campaign-detail-products>
                </div>
                <div *ngIf="CampaignData&&tab==='product'" id="analytics"
                     class="tab-pane fade {{tab==='analytics'? 'in active': ''}}">
                    Analytics
                </div>
                <div *ngIf="CampaignData&&tab==='product'" id="email"
                     class="tab-pane fade {{tab==='email'? 'in active': ''}}">
                    Email list
                </div>
                <div *ngIf="CampaignData&&tab==='product'" id="coupons"
                     class="tab-pane fade {{tab==='coupons'? 'in active': ''}}">
                    Coupons
                </div>
            </div>
        </div>
    </div>
</div>