/* You can add global styles to this file, and also import other style files */
/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Color palette */
.black {
    color: #333333;
}

.warm-grey {
    color: #6f6f6f;
}

.pinkish-grey {
    color: #cfcfcf;
}

.pale-grey {
    color: #fcfdfe;
}

.white {
    color: #ffffff;
}

.tangerine {
    color: #fa9918;
}

.golden-yellow {
    color: #ffc715;
}

.frog-green {
    color: #7ac70c;
}

.purply {
    color: #8549ba;
}

.azure {
    color: #1cb0f6;
}

.reddish {
    color: #d33131;
}
/* UI */
*,
ol, ul, li {
    margin: 0;
    padding: 0;
}

.clearfix {
    clear: both;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}
body, html {
  height: 100%;
}

.form-control {
  box-shadow: none;
  color: #333333;
  border-radius: 3px;
  border: solid 1px #dddddd;
  margin: 0 0 10px 0;
}
span.form-control {
  margin: 0 0 2px 0;
  padding-top: 13px;
}
span.form-control:hover {
  border: solid 1px #fa9918;
  box-shadow: none;
}

.form-input-lg .form-control {
  height: 50px;
  box-shadow: none;
}

.form-input-lg .form-control:focus{
  border: solid 1px #fa9918;
  box-shadow: none;
}
.form-control[disabled], .form-control[readonly]{
  background-color: #fff;
  opacity: 1;
}

/* Select */
.dropdown-select {
  width: auto;
  padding: 0;
  max-height: 280px;
  overflow: auto;
}

.dropdown-select:hover {
  outline: none;
}

.dropdown-select li {
  width: 100%;
  margin-right: 0;
  border-bottom: none;
  border-left: 5px solid #fff;
}

.dropdown-select li.active, .dropdown-select li.active:hover, .dropdown-select li.active:focus {
  border-left: 5px solid #fa9918;
}

.dropdown-select li:focus, .dropdown-select li:hover {
  border-left: 5px solid #f5f5f5;
}

.dropdown-select li.active a, .dropdown-select li.active:hover a, .dropdown-select li.active:focus a {
  background-color: #fff;
  color: #333;
}

.dropdown-select li > a {
  color: #333333;
  line-height: 40px;
  min-height: 40px;
  border-bottom: 1px solid #eef1f7;
  padding: 0 20px;
}

.dropdown-select li:last-child a {
  border-bottom: none;
}

/*Button*/
.btn-form {
  border-radius: 3px;
  background-color: #fa9918;
  border: solid 1px #fa9918;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff !important;
  text-transform: uppercase;
  display: inline-block;
}
.btn-form-lg {
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
}
.btn-form-md {
  height: 40px;
  font-size: 12px;
  padding: 0 15px;
  line-height: 40px;
}
.btn-form-xs {
  font-size: 10px;
  padding: 0 15px;
  line-height: 25px;
}

.btn-form:disabled {
  background-color: #eef1f7 !important;
  border: solid 1px #eef1f7 !important;
  color: #bbbbbb !important;
}
.btn-form:hover, .btn-form:focus, .btn-form-xs:hover, .btn-form-xs:focus {
  background-color: #ffc715;
  border: solid 1px #ffc715;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
.btn-form-blank{
  border: 2px solid #eef1f7;
  background-color: #fff;
  color: #6f6e72 !important;
}
.btn-form-blank:hover{
  background-color: #fff;
  border: 2px solid #fa9918;
  color: #ffc80a !important;
}

/*Pagination*/
 .paging {
  margin: 0 20px;
}

.pagination > li > a, .pagination > li > span {
  width: 50px;
  padding: 14px 12px;
  border: solid 1px #dadfea;
  color: #333333;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #fff;
  color: #333333;
  font-weight: bold;
  border: solid 1px #dadfea;
}

/*Nav-tab*/
.nav-tabs {
  border-bottom: 0;
  display: inline-block;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
}

.nav-tabs > li > a {
  border: none;
  font-family: Montserrat;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #6f6f6f;
}

.nav > li > a {
  padding: 10px 25px;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #333333;
  font-weight: bold;
  background: transparent;
}

.nav-tabs > li > a::after {
  content: "";
  background: #fa9918;
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -6px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

.nav-tabs > li {
  margin: 0 15px;
}
.nav-tabs-content{
  border-top: 2px solid #eef1f7;
}

/*Select 2*/
 .select2-container {
  width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #fa9918 !important;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ddd !important;
  border-radius: 3px !important;
  min-height: 58px !important;
}

.select2-selection--multiple:hover,
.select2-container--default .select2-selection--multiple .select2-selection__rendered li:hover {
  border: 1px solid #fa9918 !important;
}

.has-error .select2-selection {
  border-color: #a94442 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  border-radius: 100px;
  border: solid 1px #eef1f7;
  background-color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  height: 50px;
  line-height: 50px;
  margin-top: 4px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  margin-left: 5px;
  color: #d0011b !important;
  font-weight: 100 !important;
  font-size: 32px;
}

.select2-container .select2-search--inline {
  border: none !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  height: 50px;
  margin-top: 0 !important;
}

.select2-dropdown {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
}

.select2-dropdown ul > li {
  height: 40px;
  line-height: 40px;
  font-family: Lato, Montserrat, serif;
  font-size: 12px;
  border-bottom: 1px solid #eef1f7;
  padding: 0 20px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  border-left: 5px solid #fa9918;
  padding: 0 15px;
  background-color: #fff !important;
  color: #333 !important;
}
/*Quill-editor*/
 .form-group .ql-snow {
  border: solid 1px #dddddd;
}

.form-group:hover .ql-snow {
  border: solid 1px #fa9918;
}

/*select box*/
 .select-ctr {
  border-radius: 3px;
  border: solid 1px #dddddd;
}

.select-ctr:hover, .select-ctr:focus {
  border-color: #fa9918;
}

.select-ctr .dropdown-menu {
  width: auto;
  min-width: 100%;
  padding: 0;
}

.input-group .input-group-addon {
  width: 100%;
  height: 50px;
  background: #fff;
  text-align: left;
  border: 0;
  font-size: 12px;
}

.input-group .input-group-addon i {
  font-size: 18px;
}

.select-ctr ul.dropdown-menu {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);
  max-height: 400px;
  overflow-y: auto;
}

.select-ctr ul.dropdown-menu > li {
  min-width: 100%;
}

.select-ctr ul.dropdown-menu > li > a {
  height: 40px;
  line-height: 40px;
  font-family: Lato, Montserrat, serif;
  font-size: 12px;
  border-bottom: 1px solid #eef1f7;
  padding: 0 20px;
}

.select-ctr ul.dropdown-menu li:last-child a {
  border-bottom: none;
  border-radius: 3px;
}

.select-ctr ul.dropdown-menu li.active,
.select-ctr ul.dropdown-menu li.active:hover,
.select-ctr ul.dropdown-menu li.active:focus {
  border-left: 5px solid #fa9918;
}

.select-ctr ul.dropdown-menu li.active a,
.select-ctr ul.dropdown-menu li.active:hover a,
.select-ctr ul.dropdown-menu li.active:focus a {
  background-color: #fff;
  color: #333;
  padding-left: 15px;
}

.select-text-ctr {
  display: inline-block;
  width: 100%;
}

.select-text-ctr .input-group-addon {
  width: auto;
  height: 50px;
  display: inline-block;
  float: left;
  line-height: 50px;
  padding: 0 20px;
}

.select-text-ctr .input-group-addon i {
  margin-left: 15px;
}

.select-text-ctr .form-control {
  display: inline-block;
  width: auto;
  border: none;
}

.select-text-ctr .form-control:hover, .select-text-ctr .form-control:focus {
  border: none;
}

.has-error .form-control {
  box-shadow: none !important;
}

/*MENU*/

.cart-top i {
    margin-right: 10px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

@media (max-width: 768px) {
    .navbar-inverse {
        background: #d7eefd !important;
    }
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #d7eefd;
}

@media (min-width: 992px) {
    .navbar-inverse {
        padding: 10px 0;
    }
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #0495e8;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #0495e8;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #00517f;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #00517f;
}

@media (max-width: 768px) {
    .navbar-collapse {
        float: none !important;
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

/*Mega menu*/
.mega-menu {
    min-width: 460px;
    padding: 30px;
    border: 0;
}

.mega-menu ul li {
    list-style: none;
    margin: 15px 0;
}

.title-mnu-mage {
    text-transform: uppercase;
    font-weight: bold;
    color: #0495e8;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

.mega-menu ul li a {
    color: #333;
}

.mega-menu ul li a:hover {
    color: #0495e8;
}

/*Search Form*/
@media (max-width: 768px) {
    .form-search-header {
        width: 65%;
        margin: 8px 15px;
    }
}

.form-search-header {
    margin-top: 8px;
    padding-right: 0;
}

.bootstrap-switch .bootstrap-switch-label {
    padding-right: 21px !important;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
  background: #fa9918 !important;
}

.label-red {
  color: red;
}

.tooltip-inner {
  max-width: 500px;
}
