<div class="modal-dialog product-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="mdClose()">&times;</button>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="getBaseTypes()" href="javascript:void(0)"><i class="fa fa-home"
                                                                                                     aria-hidden="true"></i>
                    Base</a>
                </li>
                <li *ngIf="baseType.name && baseType.name !=''" class="breadcrumb-item active">{{baseType.name}}</li>
            </ol>
        </div>
        <div class="modal-body">
            <div *ngIf="status==='baseType'" class="box-body">
                <div *ngFor='let itemGroup of arrBaseTypes' class="panel panel-default">
                    <div class="panel-heading">{{itemGroup.name}}</div>
                    <div class="panel-body">
                        <div *ngFor='let item of itemGroup.base_types' class="col-sm-2 text-center">
                            <div class="producs-base-item" (click)="loadBase(item)">
                                <div class="produc-name">
                                    {{item.name}}
                                </div>
                                <div class="ui fluid image"><img
                                        src="{{item.image}}">
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="status==='base'" class="box-body">
                <div class="panel panel-default">
                    <div class="panel-heading">{{baseType.name}}</div>
                    <div class="panel-body">
                        <template ngFor let-item [ngForOf]="arrBase">
                            <div class="col-sm-2 text-center">
                                <div class="producs-base-item"
                                     (click)="selectProductBase(item)">
                                    <div class="produc-name">
                                        {{item.name}}
                                    </div>
                                    <div class="ui fluid image"><img
                                            src="{{item.image.front}}">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>