<div class="modal-dialog product-modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-7" style="border-right: 1px solid #ddd;">
          <p><strong>Select storefront campaigns</strong></p>
          <div *ngFor="let camp of CampaignData.campaigns" class="col-sm-3">
            <div (click)="selectCampaign(camp)" class="variant">
              <div appCampaign [campaign]="camp"></div>
              <p class="margin text-center">{{camp.title}}</p>
              <span *ngIf="campaignsid_sl.indexOf(camp.id) >= 0" class="variant-chk"><i
                class="fa fa-check-circle-o" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <p><strong>{{campaigns_sl.length}} campaign(s) selected</strong></p>
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 20%;">
              </th>
              <th style="width: 65%;"></th>
              <th style="width: 5%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let item of campaigns_sl">
              <td>
                <div appCampaign [campaign]="item"></div>
              </td>
              <td>
                <p>{{item.title}}</p>
              </td>
              <td>
                <button (click)="selectCampaign(item)" class="btn btn-xs btn-default">
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="mdClose()" class="btn btn-default pull-right margin" data-dismiss="modal">Close
      </button>
      <button type="button" (click)="confirm()" class="btn btn-primary pull-right margin">Confirm</button>
    </div>
  </div>
</div>
