<div class="modal-dialog product-modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div class="col-sm-8 prod-list">
        <table class="table">
          <tbody>
          <tr *ngFor="let prod of campaign.products">
            <td style="width: 20%" (click)="changeColor($event,prod,prod.colors[0])">
              <div appProduct [product]="prod" [face]="face" [mainopt]="getOldOpt(prod)"></div>
            </td>
            <td style="width: 80%" class="middle" (click)="changeColor($event,prod,prod.colors[0])">
              <div class="colors">
                <div *ngFor='let itemColor of prod.colors' class="color">
                  <ninip-lgcolor [color]="itemColor.value" (click)="changeColor($event,prod,itemColor)"></ninip-lgcolor>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 text-center prod-view">
        <div appProduct [product]="product" [face]="face" [mainopt]="getOldOpt(product)" [color]="color"></div>
        <div class="row text-center" style="margin-bottom: 10px;">
          <div class="btn-group">
            <button type="button" (click)="setFace('front')"
                    class="btn {{face==='front'? 'btn-primary': 'btn-default'}}">Front
            </button>
            <button type="button" (click)="setFace('back')"
                    class="btn {{face==='back'? 'btn-primary': 'btn-default'}}">Back
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" (click)="mdClose()" class="btn btn-default pull-right margin" data-dismiss="modal">Close
      </button>
      <button type="button" (click)="confirm()" class="btn btn-primary pull-right margin">Confirm</button>
    </div>
  </div>
</div>
