.modal-dialog {
    height: 95%;
    width: 70%;
}

.modal-content {
    height: 95%;
}

.modal-header {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-body {
    max-height: calc(100% - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 75%;
}

.modal-header .close {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 8px;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
    padding-right: 15px;
    padding-left: 15px;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-promotions {
    width: calc(100% - 30px);;
    top: inherit;
    left: inherit;
}

.template {
    cursor: pointer;
    text-align: center;
    margin: 15px;
    border: 1px solid #ddd;
}

.template:hover {
    border: 1px solid #1b6d85;
    background-color: lavender;
}

.template img {
    width: 100%;
}

.template p {
    margin: 0;
}