.modal-dialog {
    width: 60%;
}

img {
    width: 100%;
    cursor: pointer;
}

.margin {
    margin: 5px;
}

.variant {
    display: inline-block;
    width: 100%;
    margin: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.variant-chk {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    left: 30px;
    cursor: pointer;
    color: darkblue;
    font-size: 24px;
}